@import './fonts.css';
@import './toasts.css';
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header[role="banner"] img {
    max-height: 300px;
}

#app {
    position: relative;
}