.toast {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    padding: 1rem;
    background: rgba(0, 0, 255, 0.4);
    backdrop-filter: blur(1rem);
    border: thin solid currentColor;
    border-radius: .25rem;
    width: 25%;
}

.toast.error {
    background: rgba(255, 0, 0, 0.4);
}

[role="alert"]:empty {
    display: none;
}